<%- include('../components/header.ejs') %>
    <div class="container">
        <div class="row mt-4 mb-4">
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                            <h1>Formulario de materias</h1>
                        </div>
                        <form action="" method="POST">
                            <div class="mb-2">
                                <label class="form-label" for="nombre">Nombre:</label>
                                <input class="form-control" type="text" id="nombre" name="nombre" required
                                    value="<%= materia?.nombre%>">
                            </div>
                            <div class="mb-2">
                                <label class="form-label" for="descripcion">Descripcion:</label>
                                <input class="form-control" type="text" id="descripcion" name="descripcion" required
                                    value="<%= materia?.descripcion%>">
                            </div>
                            <div class="mb-2">
                                <label class="form-label" for="creditos">Creditos:</label>
                                <input class="form-control" type="number" id="creditos" name="creditos" required
                                    value="<%= materia?.creditos %>">
                            </div>
                            <div class="mb-2">
                                <label class="form-label" for="idDocente">Docente:</label>
                                <select class="form-select" id="idDocente" name="idDocente" required>
                                    <option value="">Seleccione un docente</option>
                                    <% docenteArr.forEach(docente=> { %>
                                        <option value="<%= docente.id %>" <%=materia?.idDocente===docente.id
                                            ? 'selected' : '' %>><%= docente.nombre %>
                                                <%= docente.apellido %>
                                        </option>
                                        <% }) %>
                                </select>
                            </div>
                            <button class="btn btn-primary" type="submit">Guardar Materia</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('../components/footer.ejs') %>